@import url(../fonts/google-font/cwtexyen.css);

body, html {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'cwTeXYen', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
	background-color: #F9CE00;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #FDFDEB
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: #555;
	color: #09194f
}
h4 {
	font-weight: 500;
	color: #09194f
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
	color: #09194f
}
p {
	font-size: 14px;
	color: #09194f
}
/*a {
	color: #F9CE00;
}*/
a:hover, a:focus {
	text-decoration: none;
	/*color: #F4D03F;*/
	color: #00818A;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #09194F;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
.navbar-custom {
	padding: 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: #115;
	text-transform: uppercase;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand i.fa {
	color: #F9CE00;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-toggle {
	color: #eee;
	font-size: 18px;
	border-radius: 2px;
	padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #E75926;
	color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #F9CE00;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #F9CE00;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
/* Home Section */
/* Intro for Main page */
#intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	background: url(../img/intro-bg.jpeg) no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
#intro .intro-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(249,206,0,1);
	text-transform: uppercase;
}
#intro .intro-body .brand-heading {
	color: #f9ce00;
	text-shadow: 0 4px #a13e1a;
}
#intro .intro-body .intro-text {
	color: #fdfdeb;
	font-size: 18px;
}

@media(min-width:768px) {
#intro {
	height: 100%;
	padding: 0;
}
#intro .intro-body .intro-text {
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 100px;
	color: rgba(255,255,255,0.9);
}
#intro p {
	text-align: "right"
	font-size: 14px;
	color: #FFFFFF
}
}
.btn-default {
	color: #fdfdeb;
	background: #00818A;
	border: 0;
	padding: 12px 24px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fdfdeb;
	background-color: #63A6B4;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}

/*Outline Section*/
#outline {
	padding: 140px 0;
	background: #F9CE00;
}
#outline .service {
	padding: 20px 10px;
}
#outline .outline-text {
	margin-left: 10px;
}
#outline h2 {
	font-size: 60px;
	color: #FDFDEB;
}
#outline h3 {
	font-size: 25px;
	font-weight: 600;
	color: #FDFDEB;
}
#outline h4 {
	font-size: 40px;
	font-weight: 600;
	color: #FDFDEB;
}
#outline a {
	color: #00818A;
}
#outline a:hover, a:focus {
	text-decoration: none;
	color: #63A6B4;
}
#outline p {
	color: rgba(255,255,255,0.7);
}
/*.space {
	margin-top: 40px;
}*/
img.img-thumbnail.outline-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}
#outline i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
#outline li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 18px;
	margin-left : 1em; 
	text-indent : -1.t ;
	color: blue;
	text-align: justify;
}
#outline li:before {
	content: "●";
	font-weight: 600;
	padding-right: 10px;
	font-size: 18px;
}

/* About Section */
#about {
	padding: 140px 0;
	background: url(../img/services-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#about .about-text {
	margin-left: 10px;
}
#about h2 {
	color: #F9CE00;
}
#about h4 {
	color: #F9CE00;
	font-size: 20px;
}

#about li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	color: #FDFDEB;
	margin-left : 1em; 
	text-indent : -1.5em ;
	font-size: 18px;
}
#about li:before {
	content: "✓";
	font-weight: 600;
	padding-right: 10px;
	color: #F9CE00;
}
#about li2 {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	text-indent : -1.5em ;
	font-size: 14px;
}
#about li2:before {
	content: "✓";
	font-weight: 600;
	padding-right: 10px;
	color: #F9CE00;
}

#about i.fa {
	float: left;
	display: block;
	margin-right: 15px;
	color: #fff;
	font-size: 44px;
	text-shadow: 0 0 1px #666;
}
#about img {
	margin-top: 20px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 14pt;
	text-align: justify;
	color: #FDFDEB;
}

/*timeline Section*/
#timeline {
	padding: 140px 0;
	background: #F9CE00;
	font-size: 24px;
}
#timeline .service {
	padding: 20px 10px;
}
#timeline .timeline-text {
	margin-left: 10px;
}
#timeline h2 {
}
#timeline h3 {
	font-size: 24px;
	font-weight: 600;
	color: #FDFDEB;
}
#timeline h4 {
	font-size: 40px;
	font-weight: 600;
	color: #FDFDEB;
}
#timeline a {
	color: #00818A;
}
#timeline a:hover, a:focus {
	text-decoration: none;
	color: #63A6B4;
}
#timeline p {
	color: rgba(255,255,255,0.7);
}
.space {
	margin-top: 40px;
}
img.img-thumbnail.timeline-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: transparent;
}
#timeline i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
#timeline li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 20px;
	font-weight: 400;
	margin-left : 1em; 
	text-indent : -1em ;
	color: #FAFAFA;
	text-align: justify;
}
#timeline li:before {
	content: "●";
	font-weight: 600;
	padding-right: 10px;
	color: #0F31B2;
	font-size: 20px;
}

#sumschool {
	padding: 140px 0;
	background: url(../img/schedule-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-left:auto; 
	margin-right:auto;
}
#sumschool .service {
	padding: 20px 10px;
}
#sumschool h2 {
	color: #f6f6f6;
}
#sumschool h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f6f6f6;
}
#sumschool p {
	color: rgba(255,255,255,0.7);
}
#sumschool i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
#sumschool li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 18px;
	margin-left : 1em; 
	text-indent : -1em ;
	color: rgba(255,255,255,0.7);
	text-align: justify;
}
#sumschool li:before {
	content: "●";
	font-weight: 600;
	padding-right: 10px;
	color: rgba(255,255,255,0.7);
	font-size: 18px;
}
#sumschool td{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 25px;
}

#sumschool tr:hover {background-color: #F9CE00;}

#sumschool table {
	table-layout:fixed;
	word-wrap:break-word;
	word-break:	break-all;
}

#sumschool th {

	padding-right: 50px;
	padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F9CE00;
    color: white;
    font-size: 20px;
}

/*partners Section*/
#partners {
	padding: 140px 0;
	background: #F9CE00;
}
#partners .service {
	padding: 20px 10px;
}
#partners .partners-text {
	margin-left: 10px;
}
#partners h2 {
}
#partners h3 {
	font-size: 25px;
	font-weight: 600;
	color: #FDFDEB;
}
#partners h4 {
	font-size: 30px;
	font-weight: 600;
	color: #FDFDEB;
}
#partners a {
	color: #00818A;
}
#partners a:hover, a:focus {
	text-decoration: none;
	color: #63A6B4;
}
#partners p {
	font-size: 14px;
	color: blue;
}
#partners img {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	/*height: 160px;*/
	width: 150px;
}

#partners i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
#partners li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 20px;
	font-weight: 400;
	margin-left : 1em; 
	text-indent : -2.5em ;
	color: blue;
	text-align: justify;
}
#partners li:before {
	content: "●";
	font-weight: 600;
	padding-right: 10px;
	padding-left: 20px;
	color: #0F31B2;
	font-size: 20px;
}

/* Services Section */
#services {
	padding: 140px 0;
	background: #fdfdeb;
}
#services .service {
	padding: 20px 10px;
}
#services h2 {
	color: #f6f6f6;
}
#services h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f6f6f6;
}
#services p {
	color: rgba(255,255,255,0.7);
}
.space {
	margin-top: 40px;
}
#services i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
/* 20180205 coolcat647*/
#services li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 14px;
	margin-left : 1em; 
	text-indent : -1em ;
	color: rgba(255,255,255,0.7);
	text-align: justify;
}
#services li:before {
	content: "●";
	font-weight: 600;
	padding-right: 10px;
	color: rgba(255,255,255,0.7);
	font-size: 14px;
}

/* Gallery Section */
#works {
	padding: 120px 0;
	background: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #777;
	padding: 8px 16px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #cf5022;
	background: #cf5022;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #cf5022;
	background: #cf5022;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}
.portfolio-item .hover-bg {
	max-height: 190px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: rgba(255,255,255,0.6);
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>p {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>p {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#works i.fa {
	font-size: 20px;
	padding: 5px;
	color: #F4D03F;
}
/* Team Section */
#team {
	padding: 140px 0;
	background: url(../img/team.jpg);
	background-size: cover;
	background-attachment: fixed;
}
#team .team-text {
	margin-left: 10px;
}
#team h2 {
	color: #F9CE00;
	line-height: 30px;
}
#team h3 {
	color: #F9CE00;
}
#team h4 {
	color: #F9CE00;
}
#team p {
	color: #F9CE00;
}
img.img-thumbnail.team-img {
	/*20180527 SamLiu fix photo-deformation problem 
	/*width: 200px;*/
	/*height: 200px;*/ max-height: 180px;
	border: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}
#team .thumbnail {
	background: transparent;
	border: 0;
	height: 280px;
}
#team .thumbnail .caption {
	padding: 9px;
	color: #777;
}
/* Testimonials Section */
#testimonials {
	background: url(../img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 140px 0;
}
#testimonials h2 {
	color: #f6f6f6;
}
#testimonials blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	color: rgba(255,255,255,0.8);
}
#testimonials i {
	font-size: 24px;
	color: rgba(255,255,255,0.3);
	margin-bottom: 14px;
}
#testimonials .clients-name {
	display: inline-block;
	border-top: 1px solid rgba(255,255,255,0.3);
	padding: 20px 0;
	margin-top: 10px;
}
/* Contact Section */
#contact {
	padding: 120px 0 40px 0;
	background: #F9CE00;
}
#contact .contact-item {
	padding: 10px;
	margin: 10px;
	height: 100px;
	border-radius: 4px;
}
#contact h3 {
	font-size: 20px;
	font-weight: 400;
	margin-top: 40px;
}
#contact p {
	color: #FDFDEB;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	font-size: 22px;
	color: #09194f;
	margin-bottom: 10px;
}
#contact a {
	color: #09194f;
}
#contact a:hover, a:focus {
	text-decoration: none;
	color: #303030;
}
#contact .text-danger {
	color: #ff3333;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact .btn-default {
	background: #cf5022;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #f6f6f6;
	margin-top: 15px;
	font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
	color: #f6f6f6;
	background: #a13e1a;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#contact .social ul {
	margin-top: 30px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding-top: 8px;
	color: #09194f;
	border-radius: 4px;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #09194f;
}
/* Footer Section*/
#footer {
	background: #333;
	color: #777;
	padding: 20px 0;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover, a:focus {
	color: #e75926;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}

@media (max-width: 768px) {
.hover-bg .hover-text {
	padding: 20%;
}
}

@media (max-width: 640px) {
#intro .intro-body H1 {
	font-size: 5em;
}
}
